.DS_Store
config/zsh/.zshenv.secure
config/zsh/.zshrc.local
config/zsh/.zshrc.zwc
config/zsh/.zcompdump
config/direnv
config/gcloud
config/fontforge
config/fish/functions
config/fish/completions
config/fisherman
config/fish/conf.d
config/fish/fishd.*
config/yarn
