- name: Check extensions
  shell: "code --list-extensions | grep '{{ item }}'"
  register: check
  changed_when: no
  ignore_errors: yes

- name: Install extension
  shell: "code --install-extension '{{ item }}'"
  when: check.rc != 0
