[Unit]
Description=xkeysnail
Requires=display-manager.service
After=display-manager.service

[Service]
KillMode=process
ExecStart=/usr/bin/xkeysnail -q /opt/xkeysnail/config.py
ExecStartPre=/usr/bin/xhost +SI:localuser:xkeysnail
User=xkeysnail
Type=simple
Restart=always
Environment=DISPLAY=:1

[Install]
WantedBy=graphical.target
