* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: #2e3440;
  border: none;
  color: #eceff4;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: #5e81ac;
  color: #eceff4;
}

#workspaces button:hover {
  box-shadow: inset 0 -2px #8fbcbb;
}

#workspaces button.focused {
  background-color: #88c0d0;
  box-shadow: inset 0 -3px #8fbcbb;
}

#workspaces button.urgent {
  background-color: #bf616a;
}

#cpu,
#memory,
#disk,
#network,
#battery,
#backlight,
#pulseaudio,
#clock {
  color: #eceff4;
  margin: 0 2px;
  padding: 0 6px;
}

#window,
#workspaces {
  margin: 0 4px 0 0;
}

#cpu {
  color: #88c0d0;
}

#memory {
  color: #8fbcbb;
}

#disk {
  color: #88c0d0;
}

#network {
  color: #8fbcbb;
}

#network.disconnected {
  color: #d08770;
}

#pulseaudio {
  color: #a3be8c;
}

#pulseaudio.muted {
  color: #bf616a;
}

#backlight {
  color: #d8dee9;
}

#battery {
  color: #81a1c1;
}

#battery.charging, #battery.plugged {
  color: #a3be8c;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #eceff4;
  }
}

#battery.critical:not(.charging) {
  background-color: #5e81ac;
  color: #eceff4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  color: #b48ead;
}

#tray > .passive {
  color: #ebcb8b
}

#tray > .active {
  color: #a3be8c
}

#tray > .needs-attention {
  color: #bf616a
}

#clock {
  background-color: #434c5e;
}
